---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Further reading</h2>
<h3>Learning Modes</h3>
<p><a href="http://www.metamath.com/lsweb/dvclearn.htm">http://www.metamath.com/lsweb/dvclearn.htm</a><br />
  Another test for learning mode preference and  advice for learning, written by Catherine Jester and adapted for the web by Suzanne Miller, both of Diablo Valley College</p>
<ul>
  <lh>Some of the research into learning modes:</lh>
  <li> Fleming, N.D. and Mills, C. (1992), Not Another Inventory, Rather a Catalyst for Reflection, <em>To Improve the Academy</em>, Vol. 11, 1992., page 137.</li>
  <li>Chamberlin, M. and Powers, R. (2010), The promise of differentiated instruction for enhancing the mathematical understandings of college students, <em>Teaching Mathematics Applications</em> Vol. 29 (3), 2010., pages 113-139 </li>
</ul>
<h3>Thinking Styles</h3>
<p> <a href="http://www4.ncsu.edu/unity/lockers/users/f/felder/public/ILSdir/styles.htm">http://www4.ncsu.edu/unity/lockers/users/f/felder/public/ILSdir/styles.htm</a><br />
  The test used for thinking styles on this site, along with further information and advice on the Felder-Silverman model.</p>
<ul>
<lh>Some of the research into thinking styles:</lh>
  <li>Felder, R. M. and Silverman, L.K. (1988), Learning and Teaching Styles in Engineering Education <em>Engr. Education</em>, Vol. 78 (7), 1988, pages 674-681</li>
  <li>Litzinger, T. A.; Lee, S. H.; Wise, J. C. and Felder (2007), R. M., A Psychometric Study of the Index of Learning Styles <em>J. Engr. Education</em>, Vol. 96 (4), 2007, pages 309-319</li>
  <li>Larkin-Hein, T. and Budny, D. D. (2001), Research on Learning Style: Applications in the Physics and Engineering Classroom, <em>IEEE Transactions on Education</em>, Vol. 44 (3), 2001., pages 276-281</li>
  <li><a href="http://www4.ncsu.edu/unity/lockers/users/f/felder/public/Learning_Styles.html">Other research by Richard Felder</a></li>
</ul>
<p></p>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->

