---
#Apparently I need front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
      <h2>Introduction</h2>
         <p>While at university, you should be spending a considerable amount of time studying outside of lectures. This website is a tool to help you consider how best to use that time to gain an understanding of the topics covered in the lectures.         </p>
         <p>The first two sections have tests to help you identify how you take information in and how you think, and advice on techniques that might help you learn better. The third section has a few suggestions, with examples, of things you might like to try out.</p>
<h3><a href="modes.html">Learning Modes</a></h3>
<p>We all take in information in a variety of ways, but lectures (generally) tend to follow a set style. Thinking about learning using different modes (Visual, Auditory, Reading/Writing, Kinaesthetic) will give you some ideas that you might like to try in your own study.</p>
<h3><a href="thinking.html">Thinking Styles</a></h3>
<p>Working out how you think can help to decide how you should approach exercise sheets as well as what you should do with your time between lectures. Problem sheets are very important in testing and improving your understanding of a topic, so thinking about how to approach them will help you make better use of your time.</p>
<h3><a href="some-ideas.html">Some Ideas</a></h3>
<p>Take a look at the Some Ideas section for tips and examples on how to learn using a variety of modes, and how to use your thinking styles to aid your learning.</p>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
