---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Learning Modes</h2>
<div style="width:100%;height:1px;">&nbsp;</div>
    
    <p>Remember you will always learn best if you use a mixture of learning styles, but playing to your strengths may help with more difficult topics. To help find your personal preferences, you can use our <a href="learning-test.html">online test</a>.</p>
    <p>The list below gives some advice on how you can adapt your learning. Ideas and examples are available in the <a href="some-ideas.html">Some Ideas</a> section.</p>
    <!--<p>If you want more ideas to help you study, take a look at <a href="workshops.html">our workshops</a>.</p>-->
    
<div id="vis_desc">

      <div class="logofloat"><img src="images/vis_sing.gif" alt="" width="100" height="100" /></div>

        <h3>Visual Learners</h3>

        <p><strong>have a preference for learning from graphs and diagrams representing information</strong></p>

        <ul>

          <lh>Visual learners...</lh>

          <li>like information presented in graphs, charts,  diagrams etc.</li>

          <li>will be as comfortable reading and using symbols  as the text they replace</li>

        </ul>

        <ul>

        <lh>If this appeals to you, you could...</lh>

          <li>try using diagrams, graphs or charts to help  understand new topics. Look for ways to alter the diagrams to show different  examples, special cases, etc. </li>

          <li>use different colours to make your notes easier  to read.<br />

            e.g. underline definitions in one colour, examples in a second colour and  theorems in a third      </li>

        </ul>

      </div><div id="aud_desc">

      <div class="logofloat"><img src="images/aud_sing.gif" alt="" width="100" height="100" /></div>

        <h3>Auditory Learners</h3>

        <p><strong>have a preference for learning by listening and discussion</strong>        </p>
        <ul>

          <lh>Auditory learners...</lh>

          <li>like lecturers to speak about the topic in  detail</li>

          <li>like learning through discussion with tutors and  fellow students</li>

        </ul>

        <ul>

        <lh>If this appeals to you, you could...</lh>

          <li>try discussing new topics with a group of fellow  students, or take turns to explain the concepts to each other.</li>

          <li>talk through examples to better understand  what&#39;s happening.</li>

        </ul>

      </div><div id="raw_desc">

      <div class="logofloat"><img src="images/raw_sing.gif" alt="" width="100" height="100" /></div>

        <h3>Reading/Writing Learners</h3>

        <p><strong>have a preference for learning from information presented as text</strong>        </p>
        <ul>

          <lh>Reading/Writing learners...</lh>

          <li>like information presented as words - this may  be blocks of text or lists of bullet points</li>

<li>will read mathematical symbols and operators as if they are text</li>

        </ul>

        <ul>

        <lh>If this appeals to you, you could...</lh>

          <li>make a short summary of a new concept and read  it back. Using different words and phrases where possible will help you ensure  you don&#39;t just copy parrot-fashion.</li>

          <li>when faced with a diagram, label it using words  and write a brief description of what it shows.</li>

        </ul>

      </div><div id="kin_desc">

      <div class="logofloat"><img src="images/kin_sing.gif" alt="" width="100" height="100" /></div>

        <h3>Kinaesthetic Learners</h3>

        <p><strong>have a preference for learning from practice and movement</strong>        </p>
        <ul>

          <lh>Kinaesthetic learners...</lh>

          <li>like learning by using practical examples</li>

          <li>like using interactivity and/or physical props as appropriate</li>

        </ul>

        <ul>

        <lh>If this appeals to you, you could...</lh>

          <li>when starting a new topic, look for applications  and examples, preferably in the real world, and try to understand how they fit  with the theory</li>

          <li>when trying to learn a process, write each step  on a separate card and practice putting them in order until it becomes easy</li>

<li>keep a supply of modelling materials such as plasticine or drinking straws. You may find you are able to make a model instead of just visualising something.</li>

        </ul>

      </div>        </div></div>

</div>


{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->

