---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
      <h2>Learning Modes</h2>
      <h3><a href="modes-test.html">Click here to take the test</a></h3>
      <p><h3>or choose a section</h3> 
click the icon to see the information and advice for each scale:</p>
<div class="logodisp"><a href="learning-modes.html#vis_desc"><img src="images/vis_sing.gif" alt="" width="100" height="100" /><br />Visual</p>
</a></div>
<div class="logodisp"><a href="learning-modes.html#aud_desc"><img src="images/aud_sing.gif" alt="" width="100" height="100" /><br />Auditory</a>
  </p></div>
<div class="logodisp"><a href="learning-modes.html#raw_desc"><img src="images/raw_sing.gif" alt="" width="100" height="100" /><br />Reading/Writing</a>
  </p></div>
<div class="logodisp"><a href="learning-modes.html#kin_desc"><img src="images/kin_sing.gif" alt="" width="100" height="100" /><br />Kinaesthetic</p>
</a></div>
<div style="clear:both;">&nbsp;</div>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->

