---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Some ideas</h2>
<h3>Some software you might find useful</h3>
<ul>
  <lh>Concept Maps</lh>
  <li><a href="https://coggle.it/">Coggle</a> has LaTeX support for mathematical notation</li>
  <li><a href="http://freemind.sourceforge.net/wiki/index.php/Main_Page">FreeMind</a></li>
  <li><a href="http://freeplane.sourceforge.net/wiki/index.php/Main_Page">FreePlane</a> - based on FreeMind, but with support for LaTeX if you want to use mathematical notation</li>
</ul>
<ul>
  <lh>Drawing Graphs and other visualisation</lh>
  <li><a href="http://www.geogebra.org/cms/">GeoGebra</a> - also has a 'slider' function so you can investigate what happens if you change a variable</li>
  </ul>
<ul>
  <lh>Typing Notes</lh>
  <li>It is possible to type mathematical notes in Microsoft Word including entering equations without using the mouse. Information to get you started: <a href="http://www.mathcentre.ac.uk/bathmash/Word/index.html">Getting started with effective entry of equations in Word.</a></li>
  <li>To use more advanced mathematical notation and diagrams some people decide to learn to use LaTeX, a typesetting system for mathematical documents. Information to get you started: <a href="http://www.mathcentre.ac.uk/bathmash/LaTeX/index.html">Getting started with LaTeX.</a></li>
  </ul>
<ul>
  <lh>Audio software</lh>
  <li><a href="http://audacity.sourceforge.net/">Audacity</a></li>
  <li><a href="http://www.nch.com.au/wavepad/index.html">NCH Wavepad</a></li>
</ul>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
