---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Some ideas</h2>
<h3>Some software you might find useful</h3>
<ul>
  <lh>Concept Maps</lh>
  <li><a href="http://freemind.sourceforge.net/wiki/index.php/Main_Page">FreeMind</a></li>
  <li><a href="http://freeplane.sourceforge.net/wiki/index.php/Main_Page">FreePlane</a> - based on FreeMind, but with support for LaTeX if you want to use mathematical notation</li>
</ul>
<ul>
  <lh>Drawing Graphs</lh>
  <li><a href="http://www.geogebra.org/cms/">GeoGebra</a> - also has a 'slider' function so you can investigate what happens if you change a variable</li>
  </ul>
<ul>
  <lh>Typing Notes</lh>
  <li>Microsoft Word has an equation editor, but if you want to use more advanced mathematical notation it might be worth taking a look at some of the <a href="http://www.bath.ac.uk/study/mash/latex.html">resources available about LaTeX</a></li>
  </ul>
<ul>
  <lh>Audio software</lh>
  <li><a href="http://audacity.sourceforge.net/">Audacity</a></li>
  <li><a href="http://www.nch.com.au/wavepad/index.html">NCH Wavepad</a></li>
</ul>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
