---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Some ideas</h2>
<h3><a href="some-ideas-lm.html">Learning using a variety of modes</a></h3>
<p>Just a few ideas to start you off, with suggestions and examples of visual, auditory, reading/writing and kinaesthetic techniques.</p>
<h3><a href="thinking-styles.html">Thinking about how you think</a></h3>
<p>Advice on how to use your thinking styles to your advantage, and on how to avoid some of the potential pitfalls.</p>
<p>&nbsp;</p>
<h4><a href="software.html">Software you might find useful</a></h4>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
