---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
<h2>Some ideas</h2>
<p>The following ideas might help with your individual learning. You might like to start by trying ideas for your preferred learning mode (see the Learning Modes section), but you will learn best if you use a mixture of learning modes.</p>
<!--<p>If you want more ideas to help you study, take a look at <a href="workshops.html">our workshops</a>.</p>-->
<div class="logodisp"><img src="images/vis_sm.gif" alt="" width="40" height="40" /><br />Visual</p></div>
<div class="logodisp"><img src="images/aud_sm.gif" alt="" width="40" height="40" /><br />Auditory</p></div>
<div class="logodisp"><img src="images/raw_sm.gif" alt="" width="40" height="40" /><br />Reading/Writing</p></div>
<div class="logodisp"><img src="images/kin_sm.gif" alt="" width="40" height="40" /><br />Kinaesthetic</p></div>
<h5 style="clear:left;">Look back over any previous mathematical concepts involved</h5>
<table width="100%" border="0" cellpadding="2px" cellspacing="0px">
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/raw_sm.gif" width="40" height="40" alt="Read/Write" /></td>
    <td>read notes, write a list of any important points</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/vis_sm.gif" width="40" height="40" alt="Visual" /></td>
    <td>review any diagrams, or put information in a 'concept map'</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/aud_sm.gif" width="40" height="40" alt="Auditory" /></td>
    <td>discuss the concepts with a fellow student, and ask any questions in a tutorial</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/kin_sm.gif" width="40" height="40" alt="Kinaesthetic" /></td>
    <td>make a concept map using seperate revision cards linked by string</td>
  </tr>
</table>
<h5>Identify key words and concepts</h5>
<table width="100%" border="0" cellpadding="2px" cellspacing="0px">
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/raw_sm.gif" width="40" height="40" alt="Read/Write" /></td>
    <td>use bullet points to list the key ideas, and write a sentence or two expanding on the detail of each; explain any diagrams or symbols in words</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/vis_sm.gif" width="40" height="40" alt="Visual" /></td>
    <td>add the key words to a concept map, and study any diagrams used in the lecture to see how they show the key concepts</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/aud_sm.gif" width="40" height="40" alt="Auditory" /></td>
    <td>discuss with fellow students which the key concepts are, and why they are important</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/kin_sm.gif" width="40" height="40" alt="Kinaesthetic" /></td>
    <td>look for ways to make 2D or 3D models demonstrating key ideas and concepts</td>
  </tr>
</table>
<ul>
  <lh>Examples:</lh>
  <li><a href="examples/mindmap1.jpg">Outline concept map</a></li>
  <li>Coloured notes <a href="examples/colourednotes1.jpg">page 1</a> <a href="examples/colourednotes1b.jpg">page 2</a></li>
</ul>
<h5>Use some examples to try to figure out what's going on</h5>
<table width="100%" border="0" cellpadding="2px" cellspacing="0px">
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/vis_sm.gif" width="40" height="40" alt="Visual" /></td>
    <td>try drawing a diagram or graph showing the example, and look for ways to show different aspects of the definition (e.g. special cases, how it breaks down when assumptions are not met)</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/raw_sm.gif" width="40" height="40" alt="Read/Write" /></td>
    <td>compare examples with the definition. If the examples follow a process, make a list of the different steps involved. Write down any similarities and differences between examples</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/kin_sm.gif" width="40" height="40" alt="Kinaesthetic" /></td>
    <td>work through any examples yourself - use your notes, but try the example yourself rather than just copying it out. It may also be possible to find/create interactive diagrams of the examples e.g. which show how changing a variable changes the example</td>
  </tr>
  <tr>
    <td></td>
    <td valign="top"><img src="images/aud_sm.gif" width="40" height="40" alt="Auditory" /></td>
    <td>work in a group to discuss examples and work through them. Try to get ideas from each other and use notes when you get stuck</td>
  </tr>
</table>
<h5>Try a variety of problems to help you think about different applications of the concept</h5>
<table width="100%" border="0" cellpadding="2px" cellspacing="0px">
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/kin_sm.gif" width="40" height="40" alt="Kinaesthetic" /></td>
    <td>try as many problems as you can. Looking at similar examples might help you identify how you need to go about answering a question</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/raw_sm.gif" width="40" height="40" alt="Read/Write" /></td>
    <td>annotate your work at the side of the page explaining fully why you've made each step</td>
  </tr>
  <tr>
    <td width="40"></td>
    <td width="40" valign="top"><img src="images/vis_sm.gif" width="40" height="40" alt="Visual" /></td>
    <td>try to find any diagrams which will help you answer the questions. Looking at diagrams for similar examples may help</td>
  </tr>
  <tr>
    <td></td>
    <td valign="top"><img src="images/aud_sm.gif" width="40" height="40" alt="Auditory" /></td>
    <td>if possible, work in a group to discuss ideas for some of the questions. Make sure you get experience of trying some of the problems on your own, as it can be easy to rely on other students' knowledge and understanding</td>
  </tr>
</table>
<ul>
  <lh>Examples:</lh>
  <p>These examples use <a href="https://www.geogebra.org/home">Geogebra</a> which is free to use.</p>
  <ul>
    <li><p>Interactive diagram: modifying a sequence</p>
      <iframe scrolling="no" title="Convergence 1" src="https://www.geogebra.org/material/iframe/id/cXjP9pNA/width/700/height/550/border/888888/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="550px" style="border:0px;"> </iframe>
  </li>
  <!--<li>Interactive diagram: <a href="examples/convergence1.ggb">modifying the sequence</a> <a href="http://www.geogebra.org">Requires GeoGebra</a></li>-->
  <li><p>Interactive diagram: the effect on N of changing &#949;</p>
    <iframe scrolling="no" title="Convergence 2" src="https://www.geogebra.org/material/iframe/id/KKxNSUZD/width/700/height/500/border/888888/smb/true/stb/true/stbh/false/ai/true/asb/true/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="500px" style="border:0px;"> </iframe>
  </li>
  <!--<li>Interactive diagram: <a href="examples/convergence2.ggb">the effect on N of changing &#949;</a> <a href="http://www.geogebra.org">Requires GeoGebra</a></li>-->
</ul>
<p style="clear:left;">&nbsp;</p>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
