---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
      <h2>Thinking Styles</h2>
      <div style="width:100%">&nbsp;</div>
      <div style="float:right;width:200px;height:100px;clear:right;"><img src="images/acti_refl_sing.png" alt="" width="200" height="100" /></div>
      <h3 id="linkactref">Active / Reflective</h3>
      <h4>Active thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>likely to say, <strong>&quot;Let's try it out and see how it works&quot;</strong></li>
        <li>want to <strong>do something  with </strong>new information, whether that's trying problems, discussing a topic,  or explaining it to others</li>
        <li>more likely to enjoy <strong>working in a group</strong>, where you can discuss ideas and try  different approaches to problems together with other students</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Find a group to study with and discuss ideas and work on exercise sheets together.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>When working on problem sheets, have your notes out in front of you, and once you've tried a question use your notes to check you have understood correctly.</li>
      </ul>
      <h4>Reflective thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>likely to say, <strong>&quot;Let's think it through first&quot;</strong></li>
        <li>want to <strong>think about</strong> new information, considering the material in detail and thinking about possible  questions and applications</li>
        <li>more likely to enjoy <strong>working alone</strong>, where you have time and space to think  through the material and organise it in a way that makes sense to you</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Go through your notes in the time between lectures, highlighting or rewriting the material in a way that makes sense to you.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>When looking through your notes, think about what you could be asked about the material. Use problem sheets to check whether you've found all the applications.</li>
      </ul>
      <p>&nbsp;</p>
      <div style="width:100%">&nbsp;</div>
      <div style="float:right;width:200px;height:100px;clear:right;"><img src="images/sens_intu_sing.png" alt="" width="200" height="100" /></div>
      <h3>Sensing/Intuitive</h3>
<h4>Sensing thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>prefer learning <strong>hard facts</strong></li>
        <li>would rather solve problems by <strong>well-established methods</strong></li>
        <li>tend to be good at memorising <strong>facts and details</strong></li>
        <li>often prefer courses with an obvious connection to the <strong>real world</strong></li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Spend time looking at examples in your notes, especially in abstract courses. You might be able to find more examples in a recommended textbook if the lecturer doesn't give you many.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>When looking at examples, have the notes for the relevant theory in front of you. Try to explain what the example shows about the concept.</li>
      </ul>
      <h4>Intuitive thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>prefer discovering <strong>relationships and possibilities</strong></li>
        <li>like problems which are <strong>not repetitive</strong>, preferring each question to be slightly different</li>
        <li>tend to be better at <strong>grasping new concepts</strong></li>
        <li>often don't like courses which are repetitive or involve lots of routine calculation</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Look for varied applications of new concepts. Finding a range of examples or background information in a textbook or online might help make otherwise repetitive calculations more interesting.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>Look for patterns and connections while doing otherwise routine calculations. These may also be useful in checking whether you have make any silly mistakes while trying to rush through such questions in an exam.</li>
      </ul>
      <p>&nbsp;</p>
      <div style="width:100%">&nbsp;</div>
      <div style="float:right;width:200px;height:100px;clear:right;"><img src="images/visu_verb_sing.png" alt="" width="200" height="100" /></div>
      <h3>Visual/Non-visual</h3>
<h4>Visual thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>think about the topic in terms of <strong>pictures and applications</strong></li>
        <li>can sometimes understand what the solution to a problem is based on the visualisation, but may struggle to write it in a mathematical way</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Look for pictures or diagrams which illustrate the material you are learning.</li>
        <li>Using pictures and diagrams when approaching a problem sheet may help you formulate a solution.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>Once you understand what a picture or diagram means, check you can write it in mathematical language. Use the illustration to figure out where each step in the mathematics comes from.</li>
      </ul>
      <h4>Non-visual thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>think about the topic in terms of <strong>definitions and theorems</strong></li>
        <li>might not see the solution to a problem immediately, but can often manipulate the definitions, equations and formulae to get a solution</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>When presented with charts or diagrams, translate them into words and formulae to help you understand them.</li>
        <li>Write down the relevant definitions and formulae for each problem sheet question, as this may give you some idea of where to start.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>When using definitions and theorems in answers to problem sheet questions, have your notes open at the relevant page to look at what the statements mean. You should also use your notes to make sure you know why you can make each step in the answer.</li>
      </ul>
      <p>&nbsp;</p>
      <div style="width:100%">&nbsp;</div>
      <div style="float:right;width:200px;height:100px;clear:right;"><img src="images/glob_sequ_sing.png" alt="" width="200" height="100" /></div>
      <h3>Global/Sequential</h3>
<h4>Global thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>tend to learn in <strong>large jumps</strong> and won't necessarily see the connections between the material until they see <strong>the big picture</strong></li>
        <li>may be able to solve problems quickly once they have grasped the big picture but may have difficulty in explaining how they did it</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>If the lecturer makes notes available in advance, try reading over the chapter ahead to get an outline of the material.</li>
        <li>Look for links between topics, and try to find out how everything fits together.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>Look for related topics with similar sets of logical steps and look at the similarities and differences, and how the topics fit together.</li>
        <li>Write down any ideas you have for answering a problem sheet question and use your lecture notes to help you form these ideas into a series of logical steps which solve the problem.</li>
      </ul>
      <h4>Sequential thinkers</h4>
      <ul>
        <lh>Characteristics</lh>
        <li>like each step to <strong>follow logically </strong>from the previous one</li>
        <li>tend to solve problems by following a series of logical steps until they arrive at a solution</li>
      </ul>
      <ul>
        <lh>Play to your strengths</lh>
        <li>Some lecturers will leave out steps for you to fill in  later. You may find it easier to understand the topic once these steps have  been carefully filled in.</li>
        <li>Before each lecture, quickly reading through the notes from the last lecture will help you remember the most recent steps.</li>
        <li>If a lecturer seems to be 'jumping around' the material more than you like, it may be worth taking the time to organise your notes into an order that makes more sense to you.</li>
      </ul>
      <ul>
        <lh>Watch out for pitfalls</lh>
        <li>When you can see the first couple of logical steps on a problem sheet question, write these steps down as this will help you figure out what to do next.</li>
        <li>When learning a new topic, look for related topics with a similar flow of logical steps. Try to work out why any similarities and/or differences exist.</li>
      </ul>
<p>&nbsp;</p>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
