---
#Front matter
---
{% include head-menu.html %}
<!-- removed hash: include virtual="head-menu.html" -->
      <h2>Thinking Styles</h2>
      <h3><a href="thinking-test.html">Click here to take the test</a></h3>
      <p><span style="font-size:0.7em;">
        Test copyright &copy; 1991 North Carolina State University (Authored by Richard M. Felder and Barbara A. Soloman).<br />
      Reprinted by permission of North Carolina State University</span></p>
<p><h3>or choose a section</h3> 
click the icon to see the information and advice for each scale:</p>
<div style="text-align:center; width:200px; margin:10px; float:left;"><a href="thinking-styles.html#linkactref"><img src="images/acti_refl_sing.png" alt="" width="200" height="100" />  Active / Reflective</a></div>
<div style="text-align:center; width:200px; margin:10px; float:left;"><a href="thinking-styles.html#linksenint"><img src="images/sens_intu_sing.png" alt="" width="200" height="100" /><br />
  Sensing / Intuitive</a></div><div style="display:block; width:0px; height:150px;">&nbsp;</div>
<div style="text-align:center; width:200px; margin:10px; float:left;"><a href="thinking-styles.html#linkvisver"><img src="images/visu_verb_sing.png" alt="" width="200" height="100" /><br />
  Visual / Non-Visual</a></div>
<div style="text-align:center; width:200px; margin:10px; float:left;"><a href="thinking-styles.html#linkseqglo"><img src="images/glob_sequ_sing.png" alt="" width="200" height="100" /><br />
  Global/Sequential</a></div><div style="display:block; width:0px; height:150px;">&nbsp;</div>
<div style="clear:both;">&nbsp;</div>
{% include footer.html %}
<!-- removed hash: include virtual="footer.html" -->
