    </div></div>
</div>
<div class="footer" id="footer">
 <p>Created by Andrew Kennedy as part of a summer internship with the 
     <a href="http://www.sigma-network.ac.uk" style="color:#cf0;"><b>sigma</b> Network</a> &amp; 
     <a href="http://www.bath.ac.uk/study/mash" style="color:#cf0;">MASH</a> at the 
     <a href="http://www.bath.ac.uk" style="color:#cf0;">University of Bath</a>.
     <br />Contact email address: 
     <a href="mailto:mash@bath.ac.uk" style="color:#cf0;">mash@bath.ac.uk</a></p>
</div>

