<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Learn Maths (from MASH)</title>
<link href="./css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./assets/textresize.js"></script>
<link href='http://fonts.googleapis.com/css?family=Molengo&amp;v1' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Maven+Pro&amp;v1' rel='stylesheet' type='text/css' />
<!--<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24626612-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-60278079-1', 'auto');
    ga('send', 'pageview');
    
  </script>
</head>
<body>
  <div class="wrapper-heading" id="wrapper-heading">Learn Maths<div class="heading-right">
      <a href="http://www.sigma-network.ac.uk/">
	<img src="./images/sigma-logo.png" height="60" alt="sigma Network" />
      </a>
      <a href="http://www.bath.ac.uk/study/mash">
	<img src="./images/mash.gif" height="60" alt="MASH" />
      </a>
      <div class="textsizes">
	<a href="#" id="textnormal" title="text size normal" style="font-size:13px;left:0px;">A</a>
	<a href="#" id="textlarge" title="text size larger" style="font-size:15px;left:40px;">A</a>
	<a href="#" id="textlargest" title="text size largest" style="font-size:17px;left:80px;">A</a></div>
    </div>
  </div>
  <div class="wrapper-main" id="wrapper-main">
    <div class="left1"><div class="ics" id="ics" style=""></div>
      <div class="menu" id="mainmenu"><ul>
	  <li><a href="index.html">Introduction</a></li>
	  <li><a href="modes.html">Learning Modes</a></li>
	  <li><a href="thinking.html">Thinking Styles</a></li>
	  <li><a href="some-ideas.html">Some ideas</a></li>
	  <li><a href="further-reading.html">Further reading</a></li>
	</ul>
      </div>
    </div>
    <div class="right1">
      <div class="body-text" id="content">
